{% extends "navigationBar.html" %}

{% block principal %}

<div class="bg-light border rounded-3 d-flex" style="margin: auto;">
    <div style="margin: 5% 5% 30% 10%;">
        <img src="../static/Img/shadow-seal.jpg" height="600rem" alt="mdo">
    </div>
    <div class="bg-light rounded-3 border" style="margin: 5% 5% 30% 5%;">
        <h1>SHADOW SEAL</h1>
        <u>3500 clp</u>
        <div style="margin: 10% auto auto auto;"></div>
        Precio: 3500
        <div></div>
        Stock: 10
        <div class="my_merge"></div>
        Somos 3A Sin Límites, por favor ten en cuenta las especificaciones del producto antes de comprar. Si tienes alguna consulta no dudes en escribirnos para poder ayudarte.
        *Convierte tu polvo favorito y sombras de ojos en delineador
        *Intensifica el pigmento para un resultado más dramático y duradero.
        *También se puede usar como primer de sombra
        *Convierte las sombras de ojos en una fórmula resiente al agua
        <div class="d-flex" style="margin: 10% 5% 5% 5%;">
            <a href="/cart" role="button" class="btn btn-primary">Agregar al Carrito</a>
            <a href="/billindetails" role="button" class="btn btn-primary" style="margin: auto;">Comprar ahora</a>
        </div>
    </div>
</div>

{% endblock%}